main .card__contaner {
  width: 1100px;
  height: 440px;
  background-color: var(--card-bg);
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .header {
    background-image: url(../../assets/images/image-header-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--mask);
    }
    // todo .header END
  }

  .content {
    padding: 60px 120px 60px 60px;
    position: relative;

    h1 {
      font-weight: 600;
      color: var(--white);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-align: left;

      span {
        color: var(--accent);
      }
    }

    p {
      color: var(--main-p);
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.8;
    }

    .stats {
      // outline: solid 2px red; /////
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      position: absolute;
      bottom: 60px;
      width: calc(100% - 180px);

      p {
        position: relative;

        &::before {
          content: "5555+";
          color: #fff;
          font-size: 1.3rem;
          font-weight: 600;
          position: absolute;
          top: -30px;
          padding-left: 5px;
        }
      }
    }
    // todo .content END
  }
  // todo .card__contaner END
}
