body main {
  @media (max-width: 376px) {
    min-height: 170vh;
    margin-top: 75px;
    align-items: flex-start;
  }

  .contaner {
    @media (max-width: 376px) {
      width: 335px;
      height: 100%;
      grid-template-columns: 1fr;
    }

    .cards {
      @media (max-width: 376px) {
        height: 400px;
      }
    }
  }
}
