:root {
  --body-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsla(277, 80%, 42%, 0.493);
  --White: hsl(0, 0%, 100%);
  --headings: hsla(0, 0%, 100%, 0.6);
  --main-p: hsla(0, 0%, 100%, 0.75);
}
