:root {
  --body-bg: hsl(0, 0%, 95%);
  --card1-bg: hsl(31, 77%, 52%);
  --card2-bg: hsl(184, 100%, 22%);
  --card3-bg: hsl(179, 100%, 13%);

  --h1: hsl(0, 0%, 100%);
  --main-p: hsla(0, 0%, 100%, 0.75);
}
